{% extends 'base.html.twig' %}

{% block title %}A propos - Makesense{% endblock %}

{% block body %}
<div class="home">
    <div class="container">
<h1>Qui sommes nous ?</h1>

        <p>
            MakesenseDecisions est un outil interne à l'entreprise Makesense, qui permet de partager les idées et les projets de chacun pour l'entreprise.
            C'est en communiquant nos décisions que nous pouvont faire naître de grands avancements ! Tous les employés peuvent exprimer leur point de vue,
            dans un contexte bienveillant et respecteux. Vous serez alors invité à lire les informations données et écrire votre avis,
            qu'il soit positif ou opposé à la proposition en question.
            <br><br>Si vous souhaitez partager quelque chose avec la communauté Makesense, n'hésitez pas à créer une nouvelle prise de décision !
            Nous sommes tous là pour innover ;)
        </p>

        <p class="mt-5">L'équipe Makesense</p>
    </div>
</div>
{% endblock %}
