{% extends 'base.html.twig' %}

{% block title %}A propos - Makesense{% endblock %}

{% block body %}
<div class="home">
    <div class="container">
<h1>Qui sommes nous ?</h1>

    <p>
        Makesense est une plateforme de partage de décisions afin d'échanger sur des idées.
    </p>
</div>
</div>
{% endblock %}
