<h1>Bonjour, un nouvel utilisateur souhaite s'inscrire</h1>

<p>
    Un nouvel utilisateur souhaite créer son compte.
    Veuillez vérifier l'identité de ce dernier :</p>


   <ul>
      <li> Prénom : {{ user.firstname }}</li>
       <li> Nom : {{ user.lastname }}</li>
     <li> E-mail : {{ user.email }}</li>

   </ul>

<p>
    L'équipe MakeSense vous remercie !
</p>
