<form method="post" action="{{ path('app_timeline_delete', {'id': timeline.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette date ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ timeline.id) }}">
    <button class="btn btn-danger"><i class="bi bi-trash3 me-2"></i><span>Supprimer</span></button>
</form>
