{% extends 'base.html.twig' %}

{% block title %}Modifier le planning{% endblock %}

{% block body %}
    <h1>Edit Timeline</h1>

    {{ include('timeline/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}

    <a href="{{ path('app_timeline_index') }}"><i class="bi bi-arrow-return-left me-2"></i><span>Retour à la liste</span></a>

    {{ include('timeline/_delete_form.html.twig') }}
{% endblock %}
