{% extends 'base.html.twig' %}

{% block title %}Nouveau planning{% endblock %}

{% block body %}
    <h1>Créer un nouveau planning</h1>

    {{ include('timeline/_form.html.twig') }}

    <a href="{{ path('app_timeline_index') }}"><i class="bi bi-arrow-return-left me-2"></i><span>Retour à la liste</span></a>
{% endblock %}
