<div class="container mb-3">
<a href="{{ path('app_decision_new') }}" type="button" class="btn btn-outline-primary"><i class="bi bi-plus-circle-fill mx-2"></i><span>Créer une nouvelle décision</span></a>
</div>
