<div id="sticky-footer" class="flex-shrink-0 py-3 bg-dark text-white-50">
    <div class="container footer text-center">
        <small><span class="me-2">Copyright 2023 &copy; Makesense</span>
            | <a href="{{ path ('app_about_us') }}"><i class="bi bi-book ms-2 me-2"></i><span class="me-2">A propos</span></a>
            | <a href="#"><i class="bi bi-envelope-at ms-2 me-2"></i><span class="me-2">Nous contacter</span></a>
            | <a href="{{ path ('app_legal_mentions') }}"><i class="bi bi-file-earmark-text ms-2 me-2"></i><span>Mentions légales</span></a></small>
    </div>
</div>
