{% extends 'base.html.twig' %}

{% block title %}Réinitialiser son mot de passe{% endblock %}

{% block body %}

    <h1><i class="bi bi-person-check me-2"></i><span>Réinitaliser son mot de passe</span></h1>

    {{ form_start(requestPassForm) }}
    {{ form_row(requestPassForm.email) }}
    <button type="submit" class="btn btn-primary"> Envoyer </button>

    {{ form_end(requestPassForm) }}

{% endblock %}
