{% extends 'base.html.twig' %}

{% block title %}Réinitialiser son mot de passe{% endblock %}

{% block body %}
<div class="container flex justify-content-center col-md-6 center bg-info rounded-2">
    <h1><i class="bi bi-person-check me-2"></i><span>Nouveau mot de passe</span></h1>
<div class="row m-2">
    {{ form_start(passwordForm) }}
    <div class="row m-2 col-md-6 mx-auto">{{ form_row(passwordForm.password) }}
    <button type="submit" class="btn btn-primary col-md-4 mx-auto"> Envoyer </button>
    </div>

    {{ form_end(passwordForm) }}
</div>
</div>

{% endblock %}
