<div class="modal" id="modal-avis">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            {{ form_start(form) }}
            <div class="modal-header modal-avis">
                <h5 class="modal-title"><i class="bi bi-chat-left-text"> Ajouter un avis</i></h5>
            </div>
            <div class="modal-body">
                {{ form_widget(form) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-avis"
                        data-bs-dismiss="modal"><i class="bi bi-x-lg"> Annuler</i>
                </button>
                <button type="submit" class="btn btn-sub"><i class="bi bi-check-lg"> Ajouter mon avis</i></button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
