<div class="modal" id="modal-conflict">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            {{ form_start(form) }}
            <div class="modal-header modal-conflit">
                <h5 class="modal-title"><i class="bi bi-backspace-reverse me-2"></i><span>Ajouter un conflit</span></h5>
            </div>
            <div class="modal-body">
                {{ form_widget(form) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-conflit"
                        data-bs-dismiss="modal"><i class="bi bi-x-lg me-2"></i><span>Annuler</span>
                </button>
                <button type="submit" class="btn btn-submit"><i class="bi bi-check-lg me-2"></i><span>Ajouter mon conflit</span></button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
