.modal-avis {
    background-color: $color-atlantis;
}
.btn-avis {
    background-color: $gray-600;
    color: white;
}

.modal-conflit {
    background-color: $color-cerise;
    color: white;
}
.btn-conflit {
    background-color: $gray-600;
    color: white;
}
.btn-submit {
    background-color: $color-cerise;
    color: white;
}
.btn-sub {
    background-color: $color-atlantis;
    color: $color-text;
}
