<div class="modal" id="modal-first-decision">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            {{ form_start(form) }}
            <div class="modal-header">
                <h5 class="modal-title"><i class="bi bi-1-square me-2"></i><span>Ajouter ma première décision</span></h5>
            </div>
            <div class="modal-body">
                {{ form_widget(form) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal"><i class="bi bi-x-lg me-2"></i><span>Annuler</span>
                </button>
                <button type="submit" class="btn btn-primary"><i class="bi bi-check-lg me-2"></i><span>Ajouter ma première décision</span></button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
