{% extends 'base.html.twig' %}

{% block title %}Nouvelle décision{% endblock %}

{% block body %}
    <h1>Formulaire de création de décision</h1>
<div class="col-6 m-auto">
    {{ include('decision/_form.html.twig') }}

</div>
    <a href="{{ path('app_decision_index') }}"><i class="bi bi-arrow-return-left me-2"></i><span>Retour à la liste</span></a>
{% endblock %}
