{% extends 'base.html.twig' %}

{% block title %}Nouvelle décision{% endblock %}

{% block body %}
    <h1>Formulaire de création de décision</h1>

    {{ include('decision/_form.html.twig') }}

    <a href="{{ path('app_decision_index') }}">Retour à la liste</a>
{% endblock %}
