{% extends 'admin/base.html.twig' %}

{% block title %}Modifier l'employé{% endblock %}

{% block body %}
    <h1>Modifier l'employé</h1>

    {{ include('admin/admin_employee/_form.html.twig', {'button_label': 'Sauvegarder les modifications'}) }}

    {{ include('admin/admin_employee/_delete_form.html.twig') }}
    <a href="{{ path('app_admin_employee_index') }}"><i class="bi bi-arrow-return-left me-2"></i><span>Retour à la liste</span></a>
{% endblock %}
