{% extends 'admin/base.html.twig' %}

{% block title %}Nouvel employé{% endblock %}

{% block body %}
    <h1><i class="bi bi-person-add me-2"></i><span>Création d'un nouvel employé</span></h1>

    {{ include('admin/admin_employee/_form.html.twig') }}

    <a href="{{ path('app_admin_employee_index') }}"><i class="bi bi-arrow-return-left me-2"></i><span>Retour à la liste</span></a>
{% endblock %}
