{% extends 'admin/base.html.twig' %}

{% block title %}New Employee{% endblock %}

{% block body %}
    <h1>Create new Employee</h1>

    {{ include('admin/admin_employee/_form.html.twig') }}

    <a href="{{ path('app_admin_employee_index') }}">back to list</a>
{% endblock %}
